#toggle {
    background-color: #74b174dc;
    padding: 8px;
    border-radius: 10px;
}

#add {
    margin-top: 2%;
    background-color: #74b174dc;
    padding: 8px;
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: 2px solid #74b174dc;
    outline: none;
    width: 200px;
    padding: 5px;
}

#amount {
    margin-right: 2%;
}

.col {
    display: block;
}


.detailDiv {
    display: flex;
}

.descaddbtn {
    display: flex;
}

#show-form {
    padding: 10px;
    background-color: #74b174dc;
    border-radius: 10px;
}

.navbar {
    height: 130px;
}

.daytodayexpenses {
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    outline: none;
}

a:hover {
    cursor: default;
}

.nav-underline {
    position: absolute;
    bottom: 1%;
    left: 41%;
    display: flex;
    gap: 45px;
    /* justify-content: space-evenly;
    width: 40%;  */
}

.daily {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.monthly {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.yearly {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 2%;
    position: relative;
    left: 20%;
}

.slider {
    width: 50%;
    background-color: #74b174dc;
    height: 50px;
    margin-top: 1%;
    border-radius: 10px;
}

/* #dateList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
} */

/* #dateList li {
    min-width: 50px;
    padding: 10px;
    text-align: center;
    background: #f0f0f0;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
} */

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.incomecol {
    display: flex;
    gap: 10px;
    /* Add spacing between elements */
    align-items: center;
}

.editIncome i,
.deleteIncome i {
    color: rgb(216, 211, 211)
}

.editIncome:hover i,
.deleteIncome:hover i {
    color: rgb(24, 49, 83)
        /* Change color on hover */
}

.editIncome,
.deleteIncome {
    background: none;
    margin-left: 2%;
    font-size: 15px;
}

.incomecol li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
}

.allExpenses li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.deleteExpense,
.editExpense {
    background: none;
    color: rgb(216, 211, 211);
    align-items: center;
}

.editExpense:hover i,
.deleteExpense:hover i {
    color: rgb(24, 49, 83)
        /* Change color on hover */
}

.carousel-control-prev,
.carousel-control-next {
    top: 70%;
    /* Vertical center */
    transform: translateY(-50%);
    /* Center adjustment */
    width: auto;
    /* Adjust width */
}

.carousel-control-prev,
.carousel-control-next {
    justify-content: center;
    color: black;
}

#dateDisplay {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    margin-top: 1.5%;
}

#monthDisplay {
    margin-top: 4.5%;
}

#yearDisplay {
    margin-top: 4.5%;
}