<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="overflow-hidden">
    <div class="relative p-5 mx-auto flex justify-between items-center h-screen overflow-hidden" > 
        <div class="absolute top-0 left-96 w-80 h-72 bg-purple-300 rounded-full mt-60 mix-blend-multiply filter blur-xl animate-blob z-0"></div>
        <div class="absolute top-0 right-[500px] w-80 h-72 bg-yellow-300 rounded-full mt-60 mix-blend-multiply filter blur-xl animate-blob animation-delay-2000 z-0"></div>
        <div class="absolute top-7 left-[500px] w-80 h-72 bg-pink-300 rounded-full mt-60 mix-blend-multiply filter blur-xl animate-blob animation-delay-4000 z-0"></div>
    <div class="website-info w-1/2">
      <div class="bg-white p-6 rounded-lg flex items-center justify-center m-4 mx-40">
        <p class="text-gray-800 text-lg leading-relaxed font-semibold motion-preset-bounce motion-duration-1000 font-serif">
           
            Looking for affordable reads or want to give your old books a new home?
            Create your free account today and start exchanging books with people around you — by subject, by location, or by
            interest!
        </p>
    </div>
    </div>  
    <div class="w-1/2">
    <form action="/" method="POST" id="signup-form" class="max-w-md w-full flex flex-col items-center gap-4 p-6 rounded-lg  hover:shadow-lg hover:shadow-sky-500  hover:rounded-full hover:bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] transition-all duration-500 z-10 relative">
        <label for="name" class="text-blue-900 font-semibold">Name: </label>
        <input type="text" name="name" id="name" class="border-black border-2 rounded-lg hover:scale-110 shadow-black shadow-xl"><br /><br />
        <label for="email" class="text-blue-900 font-semibold">Email: </label>
        <input type="text" name="email" id="email" class="outline-black border-black border-2 rounded-lg hover:scale-110 shadow-black shadow-xl"><br /><br />
        <label for="phone" class="text-blue-900 font-semibold" >Mobile No.</label>
        <input type="tel" name="phone" id="phone" class="outline-black border-black border-2 rounded-lg hover:scale-110 shadow-black shadow-xl"><br />
        <label for="password" class="text-blue-900 font-semibold">Password: </label>
        <input type="password" name="password" id="password" class="outline-black border-black border-2 rounded-lg hover:scale-110 shadow-black shadow-xl"><br /><br />
        <button type="submit" class="flex flex-col bg-black rounded-lg p-2 mb-4 text-white font-semibold" >SignUp</button>
        <div class="loginDiv flex items-center gap-2 mt-1">
        <label for="loginBtn" class="text-sm font-semibold">Already a User?</label>
        <button type="button" id="loginBtn" class="bg-zinc-200 rounded-lg p-2">Login</button>
    </div>
</div>
    </form>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script src="/script.js"></script>
</html>