<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="adminPage">
    <nav class="bg-slate-400 border-gray-900 h-16">
        <h3 class="font-black">Hello Admin!</h3>
        <a href="/admin/allusers" class="text-white underline p-3 font-semibold">Manage Users</a>
    </nav>
    <div class="p-3">
        <div class="allUsers flex flex-row">
        <h4 id="totalUsers">Users on Website: </h4>
        <h4 id="usersCount" class="px-3"></h4>
        </div>

        <div class="allRecipes flex flex-row">
        <h4 id="totalRecipes">Total recipes on website: </h4>
        <h4 id="recipesCount" class="px-3"></h4>
        </div>
    </div>
    <div id="recipes" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 mx-auto max-w-7xl">
    </div>

    <div id="reasonDiv" class="bg-slate-600 mb-4 max-w-sm mx-auto h-28 justify-center rounded items-center p-6 hidden">
        <form id="reason-form" >
            <label for="reason" class="text-white">State a reason:</label>
            <input type="text" name="reason" id="reason" class="outline outline-slate-900 w-full" required>
            <button type="submit" id="submit-reason" class="bg-black text-white rounded-md p-2 mt-3">Done</button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script src="/admin.js"></script>
</html>