<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body id="authorsPage">
    <nav class="bg-slate-400 border-gray-900 h-16 p-3">
        <a href="/home" class="text-white underline p-3" id="home">Home</a>
        <a href="/profile" class="text-white underline p-3" id="profile">My account</a>
        <a href="/search" class="text-white underline p-3" id="search">Search</a>
        <a href="/mycollections" class="text-white underline p-3" id="mycollections">My collections</a>
    </nav>
    <div id="authorsList"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script src="/script.js"></script>
</html>